<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immy's World</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    {{> navbar}} <!-- This is a partial for the navigation bar -->
    {{{body}}} <!-- Content from other views will be injected here -->
</body>
</html>
