<main>
    {{#each userPosts}}
        <div class="blog-post">
            <div class="blog-post-header">
                <h2>{{this.title}}</h2>
                <p>{{this.date}}</p>
            </div>
            <div class="blog-post-content">
                {{this.content}}
            </div>
        </div>
    {{/each}}

    <form action="/new-post" method="GET">
        <button type="submit" class="btn">New Post</button>
    </form>
</main>
